* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 229;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/*===== LAYOUT =================================*/

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 5rem 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/*====  LOGO ============================ */
.logo {
  font: 700 1.31rem var(--title-font);
  color: white;
}

.logo span,
.title span {
  color: var(--base-color);
}

.logo-alt span {
  color: rgb(78, 188, 231);
}

/*====== NAVIGATION =============*/
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav img {
  width: 7rem;
  height: 5rem;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color); /* Posso alterar */
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
  display: none;
}

nav.menu ul {
  display: none;
}

/*===== Mostrar menu =====*/

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 2rem;
}

/* toggle menu */
.toggle {
  color: var(--base-color); /* Trocar cor */
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*====== Main e Section =======*/

main .image img {
  min-height: 25rem;
  background-size: cover;
  background-position: center;
  margin-bottom: -0.2rem; /* Alterar */
}

/* Section descricao smartt */

/*

section.descricao-smartt {
  text-align: center;
  padding: 30px 0;
}

section.descricao-smartt p {
  display: inline-block;
  max-width: 42.5rem;
  font-weight: lighter;
  font-size: 1.3rem;
  font-style: italic;
}

*/

/*======= Descrição da empresa ============ */
section.descricao-empresa {
  padding: 150px 0;
}

section.descricao-empresa .flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section.descricao-empresa img {
  max-width: 450px;
  width: 40%;
  height: 30%;
  border-radius: 20%;
}

section .texto-descricao {
  width: 45%;
}

section .texto-descricao h2 {
  margin-bottom: 10px;
  color: black;
}

section .texto-descricao p {
  line-height: 28px;
}

/*====== Descrição dos sócios =========*/
section.descricao-socios {
  background-color: rgba(224, 224, 224, 1);
}

section.descricao-socios .contador {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

section.descricao-socios .time {
  position: absolute;
  top: 0.8rem;
  left: .1rem;
}

section.descricao-socios .time h4 {
  font-size: 1rem;
  text-transform: uppercase;
  color: black;
  font-style: italic;
}

.img-slider {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 10px;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide.one,
.img-slider .slide.two {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-slider .content {
  max-width: 27rem;
}

.img-slider .content h4 {
  margin-bottom: 2rem;
}

.img-slider .content p {
  font-size: 1.1rem;
}

.img-slider .slide.one .image img {
  width: 18rem;
  height: 1rem;
  border-radius: 80%;
}

.img-slider .slide.two .image img {
  width: 18rem;
  height: 1rem;
  border-radius: 65%;
  /*
  object-fit: scale-down;
  clip-path: circle();
  */
}

/*----------------*/

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
}

.img-slider .navigation .btn {
  border: 2px solid black; /* background-color: black */
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

.img-slider .navigation .btn:hover {
  background-color: black;
}

.img-slider .navigation .btn.active {
  background: black;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/*======= Seção serviços ========*/

.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}

.card img {
  transition: 0.3s;
  border: 0.1rem solid transparent; /* Adicionei */
}

.card img:hover {
  transform: translateY(-10px);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/*==== Depoimentos ========================= */
#testimonials {
  background: white;
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 2.5rem serif;
  position: absolute;
  top: -0.375rem;
  left: -1.875rem;
  color: var(--base-color);
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

/* swiper */
.swiper-slide {
  height: auto;
  padding: 1rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

/*====  CONTACT ============================ */
#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}

/*====  FOOTER ============================ */
footer {
  background: var(--base-color);
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

/*====== Footer two ============*/

footer.two {
  background: hsl(240 36% 57%);
}

footer.two {
  padding: 2rem 0;
}

footer.two .dev h4 {
  color: white;
  text-align: center;
}

/* Back to top */
.back-to-top {
  background: hsl(240 36% 57%);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
  z-index: 1;
  transition: background 0.3s;
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/*======= Media queries =========*/
@media (min-width: 820px) {
  /* services */
  .cards {
    grid-template-columns: 2fr 2fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1200px) {
  /* reusable classes */
  .container {
    /* Alterar no header */
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  /* navigation */
  nav {
    width: 100%;
  }

  /* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* testimonials */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
    text-align: none;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */
  footer.one {
    padding: 3.75rem 0;
  }

  footer.one .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer.one .logo {
    font-size: 2.25rem;
  }
}

@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }

  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  /* navigation */
  nav {
    width: 98%;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
    display: flex;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
    text-align: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */
  footer.one {
    padding: 3.75rem 2rem;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}

@media (max-width: 820px) {
  /* Descrição da empresa*/
  section.descricao-empresa {
    padding: 120px 0;
  }

  section.descricao-empresa .flex {
    display: block;
    text-align: center;
  }

  section.descricao-empresa img {
    width: 80%;
  }

  section .texto-descricao {
    width: 100%;
    text-align: left;
    margin-top: 2rem;
  }

  /* Carrossel */
  .img-slider {
    width: 600px;
    height: 475px;
  }

  .img-slider .navigation {
    bottom: 25px;
  }

  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px) {
  .img-slider .slide.one,
  .img-slider .slide.two {
    display: grid;
    text-align: center;
  }

  .img-slider {
    width: 400px;
    height: 750px;
  }

  .img-slider .slide .content {
    order: 1;
  }

  .img-slider .navigation {
    bottom: 15px;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px) {
  .img-slider .slide.one .image img {
    width: 90%;
    height: 8rem;
  }

  .img-slider .slide.two .image img {
    width: 90%;
  }

  .img-slider {
    width: 320px;
    height: 790px;
  }

  .img-slider .navigation {
    bottom: 10px;
  }
}
